// Disable Text Selection (it will not disable right click, so images can still be copied)
// Source - (https://www.w3docs.com/snippets/javascript/how-to-disable-text-selection-copy-cut-paste-and-right-click-on-a-web-page.html)

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // color: #cc0000;
}


// To properly embed YouTube videos in my pages, ensuring that they are responsive
.mak-embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .mak-embed-container iframe, .mak-embed-container object, .mak-embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


// Style the Explanation tabs

/* Style tab links */
.mak-tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    // font-size: 17px;
    width: 20%;
  }
  
  .mak-tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .mak-tabcontent {
    color: white;
    display: none;
    padding: 63px 20px;
    height: 100%;
  }
  
  // Set the background colour of the tab-content (i.e. body of explanations)
  .Exp {background-color: rgb(99, 99, 99); padding: 14px 16px; color: white;}
  .Exp-1 {background-color: rgb(99, 99, 99);}
  .Exp-2 {background-color: rgb(99, 99, 99);}
  .Exp-3 {background-color: rgb(99, 99, 99);}
  .Exp-4 {background-color: rgb(99, 99, 99);}
  .Exp-5 {background-color: rgb(99, 99, 99);}



  // Style the custom tables made by me

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  caption {
    text-align: center;
    color: white;
    background-color: #a39d9d;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #a39d9d;
  }
  
  tr:nth-child(even) {
    background-color: #4d4040;
  }


  // Style the important text towards which I want to draw attention of readers

  .mak-text-color {
    color: rgb(8, 158, 141);
  }
  
  .mak-text-color-incorrect {
    color: rgb(255, 0, 98);
  }


  // CSS added by me / Mak / Mayank to design the Table of Content on each post (https://www.madcapsoftware.com/blog/css-tip-creating-styled-boxes-notes-warnings-examples-tips/)
.toc-mak
{
     -moz-border-radius: 6px;
     -webkit-border-radius: 6px;
    //  background-color: #f0f7fb;
    //  background-image: url(images/pencil.png);
    //  background-position: 9px 0px;
    //  background-repeat: no-repeat;
     border: solid 1px #3498db;
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
     padding: 11px 36px;
     margin-top: 15px;
     margin-bottom: 15px;
}

 // CSS added by me / Mak / Mayank to design the danger alert box, if needed on any post 
.danger-mak
{
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
  //  background-color: #fcedf2;
  //  background-image: url(images/pencil.png);
  //  background-position: 9px 0px;
  //  background-repeat: no-repeat;
   border: solid 1px #db34b1;
   border-radius: 6px;
   line-height: 18px;
   overflow: hidden;
   padding: 11px 36px;
   margin-top: 15px;
   margin-bottom: 15px;
}


// Custom button with hover effect added by Mak / Mayank / Mragank 
// Source - https://www.w3schools.com/css/css3_buttons.asp; https://www.w3schools.com/css/css3_buttons.asp; https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover 
.mak-button {
  // background-color: #4CAF50; /* Green */
  // border: none;
  // color: white;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.mak-button:hover {
  background-color: #4CAF50;
  color: white;
}


// To block Disqus Ads. 
// The Disqus ad section comes with an iframe tag which has an attribute sandbox. So you just need to set the display of any iframe element to none that has sandbox defined. 
// Caution: Be careful if you have any other iframe tags defined in your website which has the sandbox attribute. This might remove all of them.
//Source: https://stackoverflow.com/questions/49131980/how-do-i-disable-or-hide-the-unwanted-disqus-ads-on-my-website

iframe[sandbox]:not([sandbox=""]) {
  display: none !important;
}


// CSS Code for responsive images, with media queries (Source: https://subscription.packtpub.com/book/web-development/9781849695442/1/ch01lvl1sec12/resizing-an-image-using-media-queries)
@media screen and ( max-width: 1024px ) {
  img.responsive { width: 100%; height: 100% }
  }
  @media screen and ( min-width: 1025px) {
  img.responsive { width: 25%; height: 25% }
  }
  img.responsive { height: auto; }

  // Use the following HTML code with this CSS code
  // <img src="../../../media/puzzles/circular-arrangement-2.png" alt="robot image" class="responsive">

