<div class="toc-mak">
    <img src="../../../media/tick.png">
    <h4 style="text-align:center">Extra Books and Tools</h4><br>

<!-- <b><i>1. Wren & Martin</i></b> - This book has been around for long and is still considered one of the best. <br><br>

<i>Links for readers from USA, UK, Canada, and other countries:</i> <br><br>
<a href="https://amzn.to/3OgWLCD" target="_blank" title="Wren and Martin">High School English Grammar and Composition Paperback</a> <br><br>
<a href="https://amzn.to/3OzSsDJ" target="_blank" title="Key to Wren and Martin">Key to Wren and Martin</a><br><br>

<i>Link for Indian readers:</i> <a href="https://amzn.to/415X33I" target="_blank" title="Wren and Martin">Wren and Martin</a>
<br><br><br>


<b><i>2.</i></b> More advanced learners may refer to the following books. However, buy them only if you must. <br><br>

<b><i>A. Essential English Grammar by Raymond Murphy</i></b> <br><br>
<i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3OjoPVK" target="_blank" title="Essential English Grammar">Essential Grammar in Use - with Answers</a> <br><br>

<i>Link for Indian readers:</i> <a href="https://amzn.to/3zzabTr" target="_blank" title="Essential English Grammar">Essential English Grammar</a> <br><br>

<b><i>B. Intermediate English Grammar by Raymond Murphy</i></b> <br><br>
<i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3KhRU2z" target="_blank" title="Essential English Grammar">English Grammar in Use - with Answers</a> <br><br>

<i>Link for Indian readers:</i> <a href="https://amzn.to/3GkGxFr" target="_blank" title="Intermediate English Grammar">Intermediate English Grammar</a> <br><br>

<b><i>C. Advanced English Grammar by Martin Hewings</i></b> <br><br>
<i>Link for readers from USA, UK, Canada, and other countries:</i> <a href="https://amzn.to/3QolK9B" target="_blank" title="Essential English Grammar">Advanced Grammar in Use - with Answers</a> <br><br>

<i>Link for Indian readers:</i> <a href="https://amzn.to/417JZLz" target="_blank" title="Advanced English Grammar">Advanced English Grammar</a> <br><br><br>


So much so for Englsh Grammar. But what about Comprehension skills and Vocabulary? <br><br>
    
For this, I prefer to read on gadgets like <b><i>Kindle</i></b>. We may just tap on any word and see its meaning there and then. It's also not taxing on the eyes. There are a multitude of Kindle models and versions available. Though, any model will meet our basic reading needs. <br><br>

<i>Link for readers from USA, UK, Canada, and other countries:</i><br>
<a href="https://www.amazon.com/Kindle-Oasis-adjustable-warm-light/dp/B09T5LF8LM?crid=MT1C3H4E4K5Y&keywords=kindle&qid=1690856189&sprefix=kindle%2Caps%2C547&sr=8-3&th=1&linkCode=li3&tag=mragankshandi-20&linkId=d6eb3c0caaab425e45086e2925370bc4&language=en_US&ref_=as_li_ss_il" target="_blank"><img src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B09T5LF8LM&Format=_SL250_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=mragankshandi-20&language=en_US" ></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=mragankshandi-20&language=en_US&l=li3&o=1&a=B09T5LF8LM" width="1" height="1" alt="" style="border:none !important; margin:0px !important;" /> <br>

<i>Link for Indian readers:</i>
<a href="https://amzn.to/43jY2Qx" target="_blank" title="Kindle">Kindle</a> <br><br> -->

If you prefer to learn via books, or want some good English Grammar books for reference purposes, you may read <a href="https://www.math-english.com/post/suggested-books" title="Suggested Books">this article</a> which enlists some of the books recommended by us. 
</div>
