<div class="toc-mak">
    <img src="../../../images/pencil.png">
    <h4 style="text-align:center">Extra Books and Tools</h4><br><br>

Though the matter on our website is in-depth and comprehensive enough for the needs of most of the aptitude exams, but it may also feel daunting for the same reasons. Moreover, some learners prefer books over websites. So, if you are a beginner level English learner, and prefer books, you may explore the following English Grammar books too. <br><br>

1. Wren & Martin - This book has been around for long and is still considered one of the best. Though many concepts have not been dealt with in much depth here, but beginners may find it a breeze to read. Once you are done with it, the content on our website will work as a rich add-on. If you are getting this book, make sure you get the key to its exercises too. <br><br>
    
Link for Indian readers: <a href="https://amzn.to/415X33I" target="_blank" title="Wren and Martin">Wren and Martin</a>
<br><br>
    
<!-- Link for readers from USA, Canada, etc.:
<br><br> -->
    
2. More advanced learners may refer to the following books. However, buy them only if you must. Most of your English Grammar learning needs will easily be met by our website. <br><br>

Essential English Grammar by Raymond Murphy <br>
Link for Indian readers: <a href="https://amzn.to/3zzabTr" target="_blank" title="Essential English Grammar">Essential English Grammar</a> <br><br>

Intermediate English Grammar by Raymond Murphy <br>
Link for Indian readers: <a href="https://amzn.to/3GkGxFr" target="_blank" title="Intermediate English Grammar">Intermediate English Grammar</a> <br><br>

Advanced English Grammar by Martin Hewings <br>
Link for Indian readers: <a href="https://amzn.to/417JZLz" target="_blank" title="Advanced English Grammar">Advanced English Grammar</a> <br><br>

So much so for Englsh Grammar. But what about Comprehension skills and Vocabulary? <br><br>
    
We strongly believe that Comprehension skills and Vocabulary are more a matter of practice. The more you read, the better you will become in them. In fact, this will help you in Grammar too. Afterall Grammar rules are just in the nature of temporary scaffholding  - the goal is to read, write and speak a language without consciously remembering even a single Grammar rule. <br><br>
    
So, we suggest you to read vividly. Ideally, carry some tool with you that you may refer to learn the meaning of any word that is new to you. There are many ways you may go about it. <br><br>

* The old method: Carry a good dictionary with you. But who does? <br><br>
* Download a Thesauraus app on your mobile or just google it. Better, but we still need to stop reading, open app, type and then search. Boring! <br><br>
    
The methods mentioned above kill the joy of reading. Who wants to stop reading in the midst of an interesting plot and look for the meaning of a word? And if you are a lazy soul like me, oh man! No chance! <br><br>
    
That's why I prefer to read on gadgets like <a href="https://amzn.to/40Hc3Fv" target="_blank" title="Kindle">Kindle</a>. We may just tap on any word and see its meaning there and then. It's also not taxing on the eyes. <br><br>
    
If you guys know about any more such books, gadgets and technologies that are awesome and may help English learners, do share 😇
</div>
