{{/* Do not directly modify this file! */}}
{{/* Instead, create a `layouts/partials/custom_head.html` file in your site and add your code to it. */}}

{{/* This partial is included in `themes/academic/layouts/partials/site_head.html`. */}}

<!-- Added by me to enable Google Adsense. For this to work i also added google-adsense.html file in layouts/partials. All this code will get embedded in site_head.html file (which is in themes folder, I have not copied that file here as no change has to be made in that file). Inserted code starts -->
{{ partial "google-adsense" . }}
<!-- Inserted code ends  -->

